@font-face {
                                font-family: futura;
                                font-display: swap;
                                src: url("../fonts/futura-pt-bold.woff2") format("woff2"), url("../fonts/futura-pt-bold.woff2") format("woff2");
                                font-weight: 400;
                                font-style: normal;
                            }/r/n@font-face {
                                font-family: futura;
                                font-display: swap;
                                src: url("../fonts/futura-pt-book.woff2") format("woff2"), url("../fonts/futura-pt-book.woff2") format("woff2");
                                font-weight: 400;
                                font-style: normal;
                            }/r/n